{% extends 'base.html' %}
{% block title %} | User Dashboard{% endblock%}
{% block content %}
{% load humanize%}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {%else%}
        <div class="alert alert-alert alert-dismissible fade show" role="alert">
            {% endif %}
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row dashboard">
    <div class="col-lg-2 left_pannel">
        <div class="infoUser container">
            <img src="{{userinfo.photo.url}}" class="userPic">

            <div class="head">Welcome {{user.first_name}} {{user.last_name}}</div>
            <i class="material-icons">create</i>
            <div>{{user.email}}</div>
            <div>{{userinfo.phone}}</div>
            <div>{{user.username}}</div>
            <div>{{userinfo.zip}}</div>
            <div>{{user.city}}</div>

        </div>
    </div>

    <div class="col-lg-7 center_pannel">
        {% if items%}
        {% for item in items%}
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                    <img src="{{item.image1.url}}" class="w-100">
                </div>
                <div class="col-md-6 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">{{item.title}}</h4>
                        <p class="card-text">{{item.description}} </p>
                    </div>
                </div>
                <div class="col-md-2 container row row-cols-lg-1 row-cols-3">
                    <a href="/edit/{{item.id}}" class="button m-lg-2"><i class="fas fa-edit"></i> Edit</a>
                    <a href="/delete/{{item.id}}" id="deleteItem" class="button m-lg-2"><i class="fas fa-trash"></i> Delete</a>
                    <a href="/listings/{{item.id}}" class="button m-lg-2"><i class="fas fa-eye"></i> View</a>

                </div>

            </div>
        </div>
        {%endfor%}
        {%else%}
        <h6>YOU DONOT HAVE ANY AD'S</h6>
        {%endif%}
        <nav aria-label="Page navigation example">
            {% if items.has_other_pages%}
            <ul class="pagination justify-content-center">

                {%if items.has_previous%}
                <li class="page-item">
                    <a class="page-link" href="?page={{items.previous_page_number}}" tabindex="-1">Previous</a>
                </li>
                {% else%}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif%}


                {% for i in items.paginator.page_range%}
                {% if items.number == i %}
                <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% else%}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif%}
                {% endfor%}


                {%if items.has_next%}
                <li class="page-item">
                    <a class="page-link" href="?page={{items.next_page_number}}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">Next</a>
                </li>
                {%endif%}
            </ul>
            {% endif%}
        </nav>
    </div>
    <div class="col-lg-3 right_pannel"></div>
</div>
{%endblock%}