{% extends 'base.html' %}

{% block title %} | Welcome{% endblock%}
{% load static%}
{%load humanize%}
{% block content %}
<div class="indexMain" style="position: relative;">
    <div class="shadow"></div>
    <div class="container search_bar_full">

        <form action="{%url 'listings'%}">
            <div class="row no-gutters search_bar">
                <div class="col-8">
                    <input type="search" class="input-form-txt" name="keywords" placeholder="Keywords">
                </div>
                <div class="col-2">
                    <button class="input-form-btn" type="submit"><i class="material-icons">search</i></button>
                </div>

                <div class="col-2">
                    <button class="input-form-btn adv" type="button" data-toggle="collapse" data-target="#advanceSearch"
                            aria-expanded="false" aria-controls="collapseExample"><i
                            class="material-icons  js-rotate-if-collapsed">keyboard_arrow_down</i>
                    </button>
                </div>
            </div>

            <div class="collapse" id="advanceSearch">
                <div class="row advanceSearch">

                    <div class="col-lg-3 col-6">
                        <input type="number" class="input-form-txt" placeholder="Min-Price" name="min_price">
                    </div>

                    <div class="col-lg-3 col-6">
                        <input type="number" class="input-form-txt" placeholder="Max-Price" name="max_price">
                    </div>
                    <div class="col-lg-3 col-6">
                        <input type="text" class="input-form-txt" placeholder="size">
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class=" custom-checkbox input-form-cb">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="garage">
                            <label class="custom-control-label" for="customCheck">Parking</label>
                        </div>
                    </div>

                </div>
                <div class="row advanceSearch">

                    <div class="col-lg-3 col-6">
                        <select class="input-form-dpd" name="furniture">
                            {% for i,j in f.items %}
                            <option value="{{i}}">{{j}}</option>
                            {%endfor%}
                        </select></div>
                    <div class="col-lg-3 col-6">
                        <select class="input-form-dpd" name="space">
                            {% for i,j in s.items %}
                            <option value="{{i}}">{{j}}</option>
                            {%endfor%}
                        </select></div>
                    <div class="col-lg-3 col-6">
                        <select class="input-form-dpd" name="city">
                            {% for i,j in c.items %}
                            <option value="{{i}}">{{j}}</option>
                            {%endfor%}
                        </select>
                    </div>


                    <div class="col-lg-3 col-6">
                        <div class=" custom-checkbox input-form-cb">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" name="animalsAllowed">
                            <label class="custom-control-label" for="customCheck2">PETS</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="page4" class="row">
    <div class="col-lg-4">
        <div class="x x1">
            <div class="innertxt">Shared Bedrooms</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="x x2">
            <div class="innertxt">Private Bedrooms</div>

        </div>
    </div>
    <div class="col-lg-4">
        <div class="x x3">
            <div class="innertxt">Shared Bedrooms</div>

        </div>
    </div>
    </center>
</div>

<div class="" style="padding-top: 40px">
    <h2 class="headingIndex">New Listings</h2>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-1 row-cols-xl-5" style="padding: 30px;"> {% for item in items%}

        <div class="col" style="margin-bottom: 15px;">
            <div class="card">
                <div class="card-img ">
                    <img class="img-responsive" src="{{item.image1.url}}">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <small style="text-align: right;"><i class="fa fa-map-marker"></i><a href="#"> {{item.city}} -
                            {{item.zipCode|upper}}</a>
                        </small>
                        <h5 class="text-danger">{{item.title|title|truncatewords:5}}</h5>
                        <h6>$ {{item.price|intword|intcomma}} /Month</h6>
                        <div class="smallerItems row row-cols-2">
                            <div class="col info_item"><i class="fa fa-building"></i>
                                {{item.building_type|cut:"Building"|title}}
                            </div>
                            <div class="col info_item"><i class="fa fa-home"></i> {{item.space_given|cut:"Bedroom"}}
                            </div>

                            <div class="col info_item"><i class="fa  fa-car"></i> {{item.garage|yesno:"Yes,No"}}
                            </div>
                            <div class="col info_item"><i class="fa  fa-wifi "></i> {{item.wifiIncluded|yesno:"Yes,
                                No"}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-around">
                        <div>
                            <a type="button" class="btn btn-outline-danger btn-sm" href="{{item.id}}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}

    </div>
</div>

{% endblock %}}













