{% extends 'base.html' %}
{% block title %} | Listings{% endblock%}

{% load humanize%}
{% block content %}
<div class="filter-listing">
    <form action="{%url 'listings'%}">
        <div>
            <div class="row collapse in" id="collapseExample2">

                <div class="col-lg-2 col-6">
                    <input type="text" name="min_price" placeholder="min price" value="{{vals.min_price}}">
                </div>
                <div class="col-lg-2 col-6">
                    <input type="text" name="max_price" placeholder="max price" value="{{vals.max_price}}">
                </div>
                <div class="col-lg-2 col-6">
                    <input type="number" step="0.5" name="size" class="listing-filter-txt"
                           placeholder="size (3.5 , 5.5)" max="20" min="0.5" value="{{vals.size}}">
                </div>
                <div class="col-lg-2 col-6">
                    <input type="number" step="0.5" name="bathroom" class="listing-filter-txt"
                           placeholder="Bathrooms (1, 1.5)" max="20" min="1" value="{{vals.bathroom}}">
                </div>


                <div class="col-lg-2 col-6">
                    <select class="listing-filter-dpd" name="space_given">
                        {% for i,j in s.items %}
                        <option value="{{i}}" {%if i == vals.space_given %} selected {%endif%}>{{j}}</option>
                        {%endfor%}

                        <!--
                                                <option value="Private Bedroom">Private Bedroom</option>
                                                <option value="Shared Bedroom">Shared Bedroom</option>
                                                <option value="Entire Place">Whole Apartment/House</option>
                        -->
                    </select></div>

                <div class="col-lg-2 col-6">
                    <select class="listing-filter-dpd" name="building_type">
    {% for i,j in b.items %}
                        <option value="{{i}}" {%if i == vals.building_type %} selected {%endif%}>{{j}}</option>
                        {%endfor%}

                        <!--<option value="NOT AVAILABLE">Building Type</option>
                        <option value="Apartment Building">Apartment Building</option>
                        <option value="House">House</option>
                        <option value="Basement">Basement</option>
-->                    </select></div>


                <div class="col-lg-2 col-6">
                    <select class="listing-filter-dpd" name="furniture">
                    {% for i,j in f.items %}
                        <option value="{{i}}" {%if i == vals.furniture %} selected {%endif%}>{{j}}</option>
                        {%endfor%}

                        <!--    <option value="NOT AVAILABLE">Furnished ?</option>
                        <option value="Fully Furnished">Fully Furnished</option>
                        <option value="Semi Furnished">Semi Furnished</option>
                        <option value="Not Furnished">Not Furnished</option>
                    --></select></div>

                <div class="col-lg-2 col-6">
                    <select class="listing-filter-dpd" name="city">
  {% for i,j in c.items %}
                        <option value="{{i}}" {%if i == vals.city %} selected {%endif%}>{{j}}</option>
                        {%endfor%}

   <!--                     <option value="c">City</option>
                        <option value="Montreal">Montreal</option>
                        <option value="Toronto">Toronto</option>
   -->                 </select>
                </div>


                <div class="col-lg-2 col-6">
                    <div class=" custom-checkbox listing-filter-cb">
                        <input type="checkbox" class="custom-control-input" id="Garage" name="garage" {% if vals.garage%}checked{%endif%}>
                        <label class="custom-control-label" for="Garage">Garage</label>
                    </div>
                </div>

                <div class="col-lg-2 col-6">
                    <div class=" custom-checkbox listing-filter-cb">
                        <input type="checkbox" class="custom-control-input" id="customCheck2" name="animalsAllowed" {% if vals.animalsAllowed%}checked{% endif %}>
                        <label class="custom-control-label" for="customCheck2">Pets</label>
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <div class=" custom-checkbox listing-filter-cb">
                        <input type="checkbox" class="custom-control-input" id="hydro" name="electricityIncluded" {% if vals.electricityIncluded%}checked{%endif%}>
                        <label class="custom-control-label" for="hydro">Hydro</label>
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <div class=" custom-checkbox listing-filter-cb">
                        <input type="checkbox" class="custom-control-input" id="wifi" name="wifiIncluded" {% if vals.wifiIncluded%}checked{%endif%}>
                        <label class="custom-control-label" for="wifi">WiFi</label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3 col-12">
                    <input type="search" placeholder="Your Search Keywords Here" name="keywords"
                           value="{{vals.keywords}}">
                </div>
                <div class="col-lg-3 col-6">
                    <select class="listing-filter-dpd" name="order" onchange="this.form.submit()">
                 {% for i,j in o.items %}
                        <option value="{{i}}" {%if i == vals.order %} selected {%endif%}>{{j}}</option> <i class="fas fa-sort-down"></i>
                        {%endfor%}

                        <!--       <option value="-created_date">Most Recent</option>
                        <option value="created_date">Least Recent</option>
                        <option value="price">Price : Low to High</option>
                        <option value="-price">Price : High to Low</option>
                 -->   </select>
                </div>
                <div class="col-lg-2 col-6 listing-filter-b">
                    <button type="button" data-toggle="collapse" data-target="#collapseExample2"
                            aria-expanded="false"> Filter
                        <i class="fas fa-chevron-down  js-rotate-if-collapsed"></i>
                    </button>
                </div>
                <div class="col-lg-2 col-6">
                    <input type="reset" value="Clear Filter" onchange="this.form.submit()">
                </div>

                <div class="col-lg-2 col-6">
                    <input type="submit" value="Apply Filter">
                </div>

            </div>
        </div>
    </form>


</div>


<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 row-cols-xl-5 main-listing" style="padding: 30px;">

    {% if items%}
    {% for item in items%}

    <div class="col listings" style="margin-bottom: 15px;">

        <div class="card">
            <div class="card-img ">
                <img class="img-responsive" src="{{item.image1.url|cut:'.jpg'}}-thumbnail.jpg">
            </div>
            <div class="card-body">
            <div class="card-title">
                    <small><i class="fa fa-map-marker"></i><a href="#"> {{item.city}} /
                        {{item.zipCode|lower}}</a>
                    </small>
                    <h5 class="text-danger">{{item.title|truncatewords:5}}</h5>
                    <h6>$ {{item.price|intword|intcomma}} / Month</h6>
                    <div class="smallerItems row row-cols-2">
                        <div class="col info_item"><i class="fa fa-building"></i>
                            {{item.building_type|cut:"Building"|truncatewords:1}}
                        </div>
                        <div class="col info_item"><i class="fa fa-home"></i>
                            {{item.space_given|cut:"Bedroom"|truncatewords:1}}
                        </div>
                        <div class="col info_item"><i class="fa  fa-car"></i> {{item.garage|yesno:"Yes,No"}}</div>
                        <div class="col info_item"><i class="fa  fa-wifi "></i> {{item.wifiIncluded|yesno:"Yes,No"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-around">
                    <div>
                        <a type="button" class="btn btn-outline-danger btn-sm" href="{{item.id}}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    {%else%}
    <center><h3>No results found for search parameters</h3></center>
    {%endif%}
</div>
<nav aria-label="Page navigation example">
    {% if items.has_other_pages%}
    <ul class="pagination justify-content-center">

        {%if items.has_previous%}
        <li class="page-item">
            <a class="page-link" href="?page={{items.previous_page_number}}" tabindex="-1">Previous</a>
        </li>
        {% else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        {% endif%}


        {% for i in items.paginator.page_range%}
        {% if items.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% else%}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif%}
        {% endfor%}


        {%if items.has_next%}
        <li class="page-item">
            <a class="page-link" href="?page={{items.next_page_number}}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="">Next</a>
        </li>
        {%endif%}
    </ul>
    {% endif%}
</nav>
{% endblock %}}
