{% extends 'base.html' %}
{% block title %} | New User{% endblock%}
{% block content %}
            <div class="row no-gutters registerPage">
                <div class="col-lg-8 left_register"></div>
                <div class="col-lg-4">

<div class="container center-card-design-register">
    <div class="head">Register</div>


    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {%else%}
        <div class="alert alert-alert alert-dismissible fade show" role="alert">
            {% endif %}
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        <form action="{% url 'register'%}" method="POST"> {% csrf_token %}
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <input type="text" name="email" placeholder="Email Address" required>
            <input type="number" name="phone" placeholder="Mobile Phone">
            <input type="text" name="username" placeholder="UserName" required>
            <input type="text" name="password" placeholder="Password" required>
            <input type="text" name="rpassword" placeholder="Repeat Password" required>
            <input type="submit" value="Submit" class="submit">
<a href="{% url 'login'%}">Already have an Account?  Login</a>
        </form>
    </div>
</div>
                </div></div>
{%endblock%}